<div class="row mb-3 justify-content-center align-items-center minh-100">
  <div class="col-md-2 col-md-offset-5">
    <div class="card">
      <h2 class="text-center">{{listContacts.length}}</h2>
      <h5 class="text-center">Total contactos</h5>
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center minh-100">
  <div class="col-md-2 col-md-offset-5">
    <div class="card">
      <h2 class="text-center">{{listContactsHappyBry.length}}</h2>
      <h5 class="text-center">Hoy cumple años 😀🎂 </h5>
    </div>
  </div>
</div>
<br>
<div class="row mb-3 justify-content-center align-items-center minh-100">
  <div class="col-md-4">
    <button class="btn btn-primary btn-block" routerLink="contactos">Lista de contactos</button>
  </div>
</div>
